/* shear style  */
body{
    font-family: 'Open Sans', sans-serif;
}
.AllButton{
    flex-shrink: 0;
    border-radius: 5px;
    background: #FD6E0A;
    color:  #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding: 15px 30px;
}
.h{
    
    width: 585px;
}
.allcontent{
    display: flex;
    flex-shrink: 0;
    color:  #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}
.haa{
    
    margin: 0 auto;
    text-align: center;
    padding: 0;
    width: 1018px;
}

/* nav relate style  */
.hadTitle{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}
.pcolor{
    color:#FD6E0A ;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 230px;

}
.websitehade > ul {
    list-style: none;
    display: flex; 
    align-items: center;
}
.websitehade  a {
    text-decoration: none;
    color: #474747 ;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.websitehade li{
    margin-right: 50px;
}
header{
    background-color:#FFF8F3;
    
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: center left;
    
}
.banear{
    padding: 0px 0px 0 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url('../images/header_bg.png');
    
    background-repeat: no-repeat;
    background-position: bottom right;
    margin: 0;
}
.banerRight{
    width: 584px;
    height: 676px;
    flex-shrink: 0;
}
.banerLeftMain{
    color: #181818;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.banerLeftconth4 {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0;
    margin: 0;
}
/* main saction style  */
.sectionTitle{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    border-radius: 10px;
    background: #FFF8F3;
    margin-top: 100px;
    margin-bottom: 100px;
}
.aboutinfocontiner{
    display: flex;
    justify-content:space-around ;
}
.infotitle{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.infotDiscription{
    
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.alldiv{
    display: flex;
}
.alldiv img{
    width: 44px;
    height: 44px;
    flex-shrink: 0;
}
.skileshad{
    color: #181818;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
.skilediss{
    width: 201px;
    flex-direction: column;
    flex-shrink: 0;
    color:#757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.skiles{
    margin-right: 95px;
    box-shadow: 9px 21px 27px -16px;
    padding: 10px;
}
main section{
    margin-top: 130px;
}
.summary{
    display: flex;
}
.rtital{
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.mctital{
    color: #474747;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.smct{
    color:  #757575;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mcc{
    display: flex;
    width: 511px;
    flex-direction: column;
    flex-shrink: 0;
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    }
.left{
    margin-right: 140px;
}
.donwoldoeCV{
    text-align: center;
    margin: auto;
}